<html>
<head>
    <title>Users</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<table cellPadding={0} cellSpacing={0} border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>City</th>
        <th>Zip code</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Website</th>
    </tr>
    <% for(let user of users) { %>
    <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.address.city %></td>
        <td><%= user.address.zipcode %></td>
        <td><%= user.address.geo.lat %></td>
        <td><%= user.address.geo.lng %></td>
        <td><%= user.website %></td>
    </tr>
    <% } %>
</table>
</body>
</html>